* {
  font-family: 'Avenir';
}

body {
  margin: 0;
}
header {
  background-color: white;
  padding: 15px;
}
header ul {
  float: right;
  color: black;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}

.brain{
  height: 90px;
  width:90px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #ffffff;
  padding: 100px 15px;
  display: flex;
  justify-content: space-between;
}
.content {
  justify-content: start;
  position: relative;
  top: 10px;
  max-width: 30%;
  margin-left: 50px;
  padding-left: 50px;
  background-color: #ffffff;
  text-align: left;
  
}
.content h1{
  font-size: 400%;
}

.content p{
  font-size: large;
  width: 500px;
}
button {
  padding: 10px;
  background-color: #d73e2d;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  position: relative;
  top: 20px;
}
.brain1{
   float: right;
   padding-right: 30px;
   height:
}
.active, button:hover{
  color:rgb(0, 0, 0);
}
.research{
  width: 200px;
  height: 200px;

}
.design{
  width: 200px;
  height: 200px;

}
.wireframe{
  width: 200px;
  height: 200px;

}


.Card {
  background-color: #f46262;
  color: #ffffff;
  cursor:pointer;
  padding: 5px;
  width: 100%;
  height: 20px;
  text-align:left;
  border: none;
  transition: 0.4s;
  border-radius: 50px;
  position: relative;
  top: 30px;
  
  
}
.Card img{
  height: 10px;
  position:relative;
  left:160px;
  
}

.toggleArrow{
  transform: rotate(180deg)
}

i {
translate: 180px;

}
.active, .Card:hover{
  background-color: #e00d0d;
}

.Panel{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: none;
  overflow:hidden;
 

}
footer {
  background-color: #a9413fdb;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}

.heading1{
  position: relative;
  top: 110px;
  text-align: center;
  font-size: xx-large;
}
.heading2{
  position: relative;
  top: 30px;
  text-align: center;
  font-size: xx-large;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  margin: 100px;
  padding-top: 50px;
  
}
.flexContainer p{
  padding:10px;
  font-size: larger;
}
.flexContainer h3{
  padding:10px;
  font-size: x-large;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #fff2f2;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}

.workGrid p{
  font-size: large;

}
.workGrid h4{
  font-size: x-large;
  
}
.workGrid img {
  width: 50%;
  margin-left: 50px;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
  width: 1500px;
  height: 1000px;
  
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
  padding-top: 200px;
}
.content3 {
  grid-area: content3;
}
